$accendColor: #BE1E2D;
$accend2Color: #F9941E;
$textColor: #231F20;
$foreColor: #FFF3E7;

body {
	background: url("../img/imagedoc-lightnoise.png") repeat fixed 0 0 $textColor;
	font-family: "Open Sans",sans-serif;
	font-size: 1rem;
	margin: 5rem 15rem;
	color: $foreColor;
}

@font-face {
	font-family: Propaganda; /* Имя шрифта */
	src: url("../fonts/propaganda.ttf?"); /* Путь к файлу со шрифтом */
}

h1 {
	color: $accendColor;
	font-family: "Propaganda";
	font-size: 4.5rem;
	line-height: 3rem;
	margin: 0;
	margin-top: 0.5rem;
}

h2 {
	color: $foreColor;
	font-family: "Propaganda";
	font-size: 2rem;
	margin: 0;
}

img {
	float: right;
}
