@charset "IBM866";
/* line 6, style.scss */
body {
  background: url("../img/imagedoc-lightnoise.png") repeat fixed 0 0 #231f20;
  font-family: "Open Sans",sans-serif;
  font-size: 1rem;
  margin: 5rem 15rem;
  color: #fff3e7; }

@font-face {
  font-family: Propaganda;
  /* Имя шрифта */
  src: url("../fonts/propaganda.ttf?");
  /* Путь к файлу со шрифтом */ }
/* line 19, style.scss */
h1 {
  color: #be1e2d;
  font-family: "Propaganda";
  font-size: 4.5rem;
  line-height: 3rem;
  margin: 0;
  margin-top: 0.5rem; }

/* line 28, style.scss */
h2 {
  color: #fff3e7;
  font-family: "Propaganda";
  font-size: 2rem;
  margin: 0; }

/* line 35, style.scss */
img {
  float: right; }

/*# sourceMappingURL=style.css.map */